<h3 class="text-red-500">程式碼位置：/src/app/features/month-navigation</h3>

<div class="grid text-center">
  <div class="col-12 md:col-4">
    <div class="flex justify-content-center gap-2">
      <button
        pButton
        label="Previous"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        class="p-button-primary"
      ></button>
      <button
        pButton
        label="Today"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        class="p-button-outlined"
      ></button>
      <button
        pButton
        label="Next"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        class="p-button-primary"
      ></button>
    </div>
  </div>
  <div class="col-12 md:col-4">
    <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
  </div>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
  ></mwl-calendar-month-view>
</div>
